/**** All ****/
.navbar{background-color: #e3f2fd !important;}
.container{padding-top: 5em !important;}
h4{color: #ED8D8D;}

/**** Accueil ****/
@media(max-width: 767px)
{
  #slickCaroussel2{display: none;}
  #slickCaroussel{display: none;}
}
@media(min-width: 768px)
{
  #slickAlter{display: none;}
}
.accueil_title{color: cornflowerblue;}
.grid figure 
{
    position: relative;
    float: left;
    overflow: hidden;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}
.grid figure img 
{
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
    margin: 0;
}
.grid figure figcaption 
{
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid figure figcaption::before,.grid figure figcaption::after {pointer-events: none;}
.grid figure figcaption,.grid figure figcaption>a 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.grid figure figcaption>a 
{
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.grid figure h2 
{
    word-spacing: -0.15em;
    font-weight: 300;
}
.grid figure h2 span {font-weight: 800;}
.grid figure h2,.grid figure p {margin: 0;}
.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}
figure.effect-ravi 
{
    background: #303fa9;
    margin: 0;
}
.grid [class^="col"] {padding: 2px;}
figure.effect-ravi h2 {font-size: 158.75%;}
figure.effect-ravi h2,figure.effect-ravi p 
{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}
figure.effect-ravi figcaption::before 
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    border: 2px solid #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}
figure.effect-ravi p 
{
    width: 100px;
    text-transform: none;
    font-size: 121%;
    line-height: 2;
}
figure.effect-ravi p a {color: #fff;}
figure.effect-ravi p a:hover,figure.effect-ravi p a:focus {opacity: 0.6;}
figure.effect-ravi p a i 
{
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
figure.effect-ravi p a:first-child i 
{
    -webkit-transform: translate3d(-60px, -60px, 0);
    transform: translate3d(-60px, -60px, 0);
}
figure.effect-ravi p a:nth-child(2) i 
{
    -webkit-transform: translate3d(60px, -60px, 0);
    transform: translate3d(60px, -60px, 0);
}
figure.effect-ravi p a:nth-child(3) i 
{
    -webkit-transform: translate3d(-60px, 60px, 0);
    transform: translate3d(-60px, 60px, 0);
}
figure.effect-ravi p a:nth-child(4) i 
{
    -webkit-transform: translate3d(60px, 60px, 0);
    transform: translate3d(60px, 60px, 0);
}
figure.effect-ravi:hover figcaption::before 
{
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}
figure.effect-ravi:hover h2 
{
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
    transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}
figure.effect-ravi:hover p i:empty 
{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* just because it's stronger than nth-child */
    opacity: 1;
}
/* Qui sommes nous */
.circle 
{
  padding: 13px 20px;
  border-radius: 50%;
  background-color: #ED8D8D;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}
.how-it-works.row .col-2 {align-self: stretch;}
.how-it-works.row .col-2::after 
{
  content: "";
  position: absolute;
  border-left: 3px solid #ED8D8D;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after 
{
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after 
{
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after 
{
  height: 50%;
  left: 50%;
  top: 0;
}
/*2 timeline*/
.timeline div 
{
  padding: 0;
  height: 40px;
}
.timeline hr 
{
  border-top: 3px solid #ED8D8D;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 
{
  display: flex;
  overflow: hidden;
}
.timeline .corner 
{
  border: 3px solid #ED8D8D;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right 
{
  left: 50%;
  top: -50%;
}
.timeline .left-bottom 
{
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left 
{
  left: -50%;
  top: -50%;
}
.timeline .right-bottom 
{
  left: 50%;
  top: calc(50% - 3px);
}
ul.timeline 
{
  list-style-type: none;
  position: relative;
}
ul.timeline:before 
{
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li 
{
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before 
{
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
#slickAlter h4{color: black;}

/**** Projets ****/
#projets_jumbotron
{
    margin-top: 2em !important;
    background-image: url("../images/sciences.jpg")
}
@media(max-width: 450px)
{
    #projetsRecherche{display: none;}
}
@media(min-width: 450px)
{
    #alertProjets{display: none;}
}