<section>
    <div id="slickCaroussel">
        <slick class="slider" settings="slickConfig" ng-if="slickConfigLoaded" dots="true" >
            <div ng-repeat="stuff in projets">
                <div ng-include="'tpl.html'"></div>
            </div>
        </slick>
    </div>

    <div class="container">
        <h2 class="text-left accueil_title font-weight-normal">Qui sommes-nous</h2>
        <hr>
        <!--first section-->
        <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">1</div>
            </div>
            <div class="col-6">
                <h5>Description #1</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
            </div>
        </div>
        <!--path between 1-2-->
        <div class="row timeline">
            <div class="col-2">
                <div class="corner top-right"></div>
            </div>
            <div class="col-8">
                <hr/>
            </div>
            <div class="col-2">
                <div class="corner left-bottom"></div>
            </div>
        </div>
        <!--second section-->
        <div class="row align-items-center justify-content-end how-it-works d-flex">
            <div class="col-6 text-right">
                <h5>Description #2</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
            </div>
            <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">2</div>
            </div>
        </div>
        <!--path between 2-3-->
        <div class="row timeline">
            <div class="col-2">
                <div class="corner right-bottom"></div>
            </div>
            <div class="col-8">
                <hr/>
            </div>
            <div class="col-2">
                <div class="corner top-left"></div>
            </div>
        </div>
        <!--third section-->
        <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">3</div>
            </div>
            <div class="col-6">
                <h5>Description #3</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-left accueil_title font-weight-normal">Nos actualités</h2>
        <hr>
        <div class="grid">
            <div class="row">
                <div ng-repeat="stuff in projets" class="col-md-4">
                    <figure class="effect-ravi">
                        <img src="https://picsum.photos/800/800/?random"/>
                        <figcaption>
                            <h2>{{stuff.Titre}}</h2>
                            <p><a href=""><i class="fa fa-search"></i></a></p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-left accueil_title font-weight-normal">Nos engagements</h2>
        <hr>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <ul class="timeline">
                    <li>
                        <h4>Description #1</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
                    </li>
                    <li>
                        <h4>Description #2</h4>
                        <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin...</p>
                    </li>
                    <li>
                        <h4>Description #3</h4>
                        <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
                    </li>
                    <li>
                        <h4>Description #4</h4>
                        <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" id="slickCaroussel2">
        <h2 class="text-left accueil_title font-weight-normal">Projets financés</h2>
        <hr>
        <slick class="slider" settings="slickConfig2" ng-if="slickConfigLoaded" dots="true">
            <div  ng-repeat="stuff in projets" class="card">
                <img class="card-img-top" src="https://picsum.photos/800/800/?random" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{stuff.Titre}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">En savoir d'avantage</a>
                </div>
            </div>
        </slick>
    </div>

    <div class="container" id="slickAlter">
        <h2 class="text-left accueil_title font-weight-normal">Projets financés</h2>
        <hr>
        <!-- Card deck -->
        <div class="card-deck">
            <!-- Card -->
            <div ng-repeat="stuff in projets" ng-if="$index < 3" class="card mb-4">
                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="https://picsum.photos/800/800/?random" alt="Card image cap">
                    <a href="">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">{{stuff.Titre}}</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary">En savoir d'avantage</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/ng-template" id="tpl.html">
    <div class="jumbotron card card-image" style="background-image: url(https://picsum.photos/2000/1000/?random);">
        <div class="text-white text-center py-5 px-4">
            <div>
                <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>{{stuff.Titre}}</strong></h2>
                <p class="mx-5 mb-5">{{stuff.Description}}</p>
                <a class="btn btn-outline-white btn-md">Voir le projet !</a>
            </div>
        </div>
    </div>
</script>